{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h3>Modifier l'article</h3>

    <div class="row text-center">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p><div class="cell-1-1 text-align-center"><button type="submit">Modifier</button></div></p>
        {{ form_end(edit_form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Revenir à la liste des articles</a>
        </li>
    </ul>
{% endblock %}
