{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h1>Nouvel article</h1>
    <div class="row">
        {{ form_widget(form) }}
        <div class="cell-1-1 text-align-center"><input type="submit" value="Valider"/></div>
        {{ form_end(form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Revenir à la liste des articles</a>
        </li>
    </ul>
{% endblock %}
