{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="holder">
            <div class="holder-content">
                <article class="box-page">

                    <div class="box-content">
                        <h2 class="box-title">Evenements du mois</h2>
                        <table class="width-full">
                            <tbody>
                            <tr>
                                <th>Date</th>
                                <th>Titre</th>
                                <th>Résumé</th>
                                <th></th>
                            </tr>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.date | date("d/m/Y") }}</td>
                                    <td>{{ event.title | raw}}</td>
                                    <td>{{ event.content|slice(0,100) | raw }}</td>
                                    <td><a href="{{ path('event_view', {id: event.id }) }}">read more</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}