<tr>
    <td>{{ user.username }}</td>
    <td><img
                src="{{ asset(user.classe.imageClasse.webPath) }}"
                alt="{{ user.classe.imageClasse.alt }}"
                height="20"
        /></td>
</tr>