{% extends '::base.html.twig' %}

{% block body %}
    <div>
        {{ presentation.content }}
    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
{% endblock %}