{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="holder">
            <div class="holder-content">
                <article class="box-page">
                    <div class="box-alpha">
                    </div>
                    <div class="box-beta">
                        <div class="box-content">
                            <p>{{ presentation.content | raw }}</p>
                        </div>
                        <div class="gallery width-over" data-gallery-columns="4">
                            {% for image in images %}
                                <img src="{{ asset(image.webPath) }}"  alt="{{ image.alt }}"/>
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}