{% extends 'base.html.twig' %}

{% block body %}
    <body class="background-dots">
    <div id="wrapper">
        <div class="container">
            <div class="holder">
                <div class="holder-content">
                    <article class="box-page">
                        <div class="box-beta">
                            <div class="box-content">
                                {% for classe in classes %}
                                <div class="row" style="border: solid #d3cfd5; margin-bottom: 20px">
                                    <div class="col-md-4 text-center">
                                        <img src="{{ asset(classe.imageClasse.webPath) }}"
                                             alt="{{ classe.imageClasse.alt }}"
                                             width="200" />
                                    </div>
                                    <div class="col-md-8 text-center">
                                    {{ render(controller(
                                    'ExNihiloPlatformBundle:Members:getUsers',
                                    { 'id': classe.id }
                                    )) }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                </article>
            </div>

        </div>

    </div>
    </div>
    </body>

{% endblock %}