{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h3>Nouvel événement</h3>
    <div class="row text-center">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="cell-1-1 text-align-center"><button type="submit">Valider</button></div>
    {{ form_end(form) }}
    </div>
    <ul style="list-style: none">
        <li>
            <a href="{{ path('admin_event_index') }}">Revenir à la liste des événements</a>
        </li>
    </ul>
{% endblock %}
