{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.content }}</p>

    <h2>Liste des inscrits</h2>
    <ul>
        {% for user in event.users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_USER') and booked == 0 %}
        <form action="" method="POST">
            <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
        </form>
        {% elseif booked > 0 %}

    {% else %}
        <form action="" method="POST">
            <button type="submit" class="btn btn-lg btn-primary" disabled>S'inscrire</button>
            <p>Veuillez vous connecter pour vous inscrire à cet événement</p>
        </form>

    {% endif %}

{% endblock %}