ex_nihilo_article_admin_article:
    resource: "@ExNihiloBlogBundle/Resources/config/routing/article.yml"
    prefix:   /admin/article

ex_nihilo_comment_admin_comment:
    resource: "@ExNihiloBlogBundle/Resources/config/routing/comment.yml"
    prefix:   /admin/comment
