{% extends 'ExNihiloPlatformBundle:Back:index.html.twig' %}

{% block content %}
    <h1>Presentation de la guilde</h1>

    <table>
        <tbody>
            <tr>
                <td>{{ presentation.content | raw }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_presentation_edit', { 'id': presentation.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
